--
-- PostgreSQL database dump
--

\restrict 3ys8mLP24uV7bSxEZIpIoTtwoT0XW7kD709leeE7ExwHOdzq0sSTNACIlDcDK8M

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dosen; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.dosen (
    id integer NOT NULL,
    nama character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    canacckrs boolean DEFAULT false
);


ALTER TABLE public.dosen OWNER TO myuser;

--
-- Name: dosen_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.dosen_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dosen_id_seq OWNER TO myuser;

--
-- Name: dosen_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.dosen_id_seq OWNED BY public.dosen.id;


--
-- Name: mahasiswa; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.mahasiswa (
    id integer NOT NULL,
    nama character varying(100) NOT NULL,
    nim character varying(20),
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL
);


ALTER TABLE public.mahasiswa OWNER TO myuser;

--
-- Name: users; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.users (
    id integer NOT NULL,
    nama character varying(100) NOT NULL,
    nim character varying(20) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'mahasiswa'::character varying
);


ALTER TABLE public.users OWNER TO myuser;

--
-- Name: mahasiswa_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.mahasiswa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.mahasiswa_id_seq OWNER TO myuser;

--
-- Name: mahasiswa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.mahasiswa_id_seq OWNED BY public.users.id;


--
-- Name: mahasiswa_id_seq1; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.mahasiswa_id_seq1
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.mahasiswa_id_seq1 OWNER TO myuser;

--
-- Name: mahasiswa_id_seq1; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.mahasiswa_id_seq1 OWNED BY public.mahasiswa.id;


--
-- Name: matkul; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.matkul (
    id integer NOT NULL,
    kode character varying(10) NOT NULL,
    nama character varying(100) NOT NULL,
    sks integer NOT NULL,
    prodi_id character(2)
);


ALTER TABLE public.matkul OWNER TO myuser;

--
-- Name: matkul_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.matkul_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.matkul_id_seq OWNER TO myuser;

--
-- Name: matkul_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.matkul_id_seq OWNED BY public.matkul.id;


--
-- Name: prodi; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.prodi (
    id character(2) NOT NULL,
    nama_prodi character varying(100) NOT NULL
);


ALTER TABLE public.prodi OWNER TO myuser;

--
-- Name: dosen id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dosen ALTER COLUMN id SET DEFAULT nextval('public.dosen_id_seq'::regclass);


--
-- Name: mahasiswa id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.mahasiswa ALTER COLUMN id SET DEFAULT nextval('public.mahasiswa_id_seq1'::regclass);


--
-- Name: matkul id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.matkul ALTER COLUMN id SET DEFAULT nextval('public.matkul_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.mahasiswa_id_seq'::regclass);


--
-- Data for Name: dosen; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.dosen (id, nama, email, password, canacckrs) FROM stdin;
1	Dr. Siti Dewi	siti@dsn.ac.id	$2b$10$abcd1234efgh5678ijkl9012mnop3456qrstuv	t
2	Dosen Contoh	dosen1@dsn.ac.id	$2b$10$8ltmXa6uk9P8XjzeUWmmEuXROl0s8rJkauZqQG.5CDQI1lgsiCI6.	t
\.


--
-- Data for Name: mahasiswa; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.mahasiswa (id, nama, nim, email, password) FROM stdin;
1	Mika	111	111@gmail.com	$2b$10$lQRuj5qjzqDuHdtZVXcLfOizdEgTGDA0WZHOxVH24yDPoJEzcZuTC
2	Gabriel	250101	250101@gmail.com	$2b$10$6cufFe.LFQ1E9NPRUArfuOmtqCnHHRSwPuK9LxBvoh5aHWIaQWsz6
3	Whisnu	2405012	2405012@gmail.com	$2b$10$vaX.hItilpHGSYVw/4ocl.qVdPcuCtE9tI8dYuo8EfABNPDGxSXJu
\.


--
-- Data for Name: matkul; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: prodi; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.prodi (id, nama_prodi) FROM stdin;
01	Teknik Informatika
02	Sistem Informasi
03	Teknik Elektro
04	Manajemen
05	Akuntansi
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.users (id, nama, nim, email, password, role) FROM stdin;
1	Budi Santoso	12345	budi@univ.com	$2b$10$5yhvb7Jj2/iuFiYi8Cbeze8i7i/GRnO/UDCcpLOzppjckot4Tczh.	mahasiswa
2	gabriel	24051204093	224051204093@gmail.com	$2b$10$l.ZJOXuQtbcsWgjuBXyH7eHer7o17n/3EcDhaWU6EWpfSQJqtnHxu	mahasiswa
5	gabrielel	24051204092	24051204092@gmail.com	$2b$10$IPH8SN1OuodcSZRJaNrH3.dxuh3bnzr2gerufb.X.TrHOw.Rvuil.	mahasiswa
6	gaby	24051204085	24051204085@gmail.com	$2b$10$oxjOvU4XULT.KiudKpEQye39Xf.YGXFfJEgmo33SVqJGWvzEuMGDK	mahasiswa
\.


--
-- Name: dosen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.dosen_id_seq', 2, true);


--
-- Name: mahasiswa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.mahasiswa_id_seq', 6, true);


--
-- Name: mahasiswa_id_seq1; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.mahasiswa_id_seq1', 3, true);


--
-- Name: matkul_id_seq; Type: SEQUENCE SET; Schema: public; Owner: myuser
--

SELECT pg_catalog.setval('public.matkul_id_seq', 54, true);


--
-- Name: dosen dosen_email_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_email_key UNIQUE (email);


--
-- Name: dosen dosen_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_pkey PRIMARY KEY (id);


--
-- Name: users mahasiswa_email_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT mahasiswa_email_key UNIQUE (email);


--
-- Name: mahasiswa mahasiswa_email_key1; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_email_key1 UNIQUE (email);


--
-- Name: users mahasiswa_nim_key; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT mahasiswa_nim_key UNIQUE (nim);


--
-- Name: mahasiswa mahasiswa_nim_key1; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_nim_key1 UNIQUE (nim);


--
-- Name: users mahasiswa_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT mahasiswa_pkey PRIMARY KEY (id);


--
-- Name: mahasiswa mahasiswa_pkey1; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_pkey1 PRIMARY KEY (id);


--
-- Name: matkul matkul_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.matkul
    ADD CONSTRAINT matkul_pkey PRIMARY KEY (id);


--
-- Name: prodi prodi_pkey; Type: CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.prodi
    ADD CONSTRAINT prodi_pkey PRIMARY KEY (id);


--
-- Name: matkul matkul_prodi_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.matkul
    ADD CONSTRAINT matkul_prodi_id_fkey FOREIGN KEY (prodi_id) REFERENCES public.prodi(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 3ys8mLP24uV7bSxEZIpIoTtwoT0XW7kD709leeE7ExwHOdzq0sSTNACIlDcDK8M

